<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Raging_Azian's Music</title>
</head>

<body>
    {% include 'nav.html' %}
    <h1>{{ username }}'s Music</h1>

    <h1>Currently Playing</h1>
    <img id="album-artwork" src="{{ current_playing['item']['album']['images'][0]['url'] }}" alt="Album Artwork"
        style="height: 500px; width: 500px">
    <p><strong>Track: </strong><span id="track-name">
        {% if current_playing['item']['external_urls']['spotify'] %}
            <a href="{{ current_playing['item']['external_urls']['spotify'] }}">
                {{ current_playing['item']['name'] }}
            </a>
        {% else %}
            {{ current_playing['item']['name'] }}
        {% endif %}
    </span></p>

    <p><strong>Artists: </strong><span id="artist-name">
        {% for artist in current_playing['item']['artists'] %}
            {% if artist['external_urls']['spotify'] %}
                <a href="{{ artist['external_urls']['spotify'] }}">{{ artist['name'] }}</a>
            {% else %}
                {{ artist['name'] }}
            {% endif %}
            {% if not loop.last %}, {% endif %}
        {% endfor %}
    </span></p>

    <script>
        function updateCurrentPlaying() {
            fetch(window.location.href)
                .then(response => response.text())
                .then(html => {
                    const parser = new DOMParser();
                    const doc = parser.parseFromString(html, 'text/html');
                    const albumArtworkElement = document.getElementById('album-artwork');
                    const trackNameElement = document.getElementById('track-name');
                    const artistNameElement = document.getElementById('artist-name');

                    const newAlbumArtworkElement = doc.getElementById('album-artwork');
                    const newTrackNameElement = doc.getElementById('track-name');
                    const newArtistNameElement = doc.getElementById('artist-name');

                    albumArtworkElement.src = newAlbumArtworkElement.src;

                    trackNameElement.innerHTML = newTrackNameElement.innerHTML;
                    artistNameElement.innerHTML = newArtistNameElement.innerHTML;
                });
        }


        // Request updates at regular intervals
        setInterval(updateCurrentPlaying, 10000);

        // Initial update
        updateCurrentPlaying();
    </script>
</body>

</html>