<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{ url_for('get_top_songs') }}">Top Songs</a></li>
            <li><a href="{{ url_for('get_playlists') }}">Playlists</a></li>
        </ul>
    </nav>
    <h1>Welcome, {{username}}</h1>

    <h1>Currently Playing</h1>
    <img src="{{current_playing['item']['album']['images'][0]['url']}}" 
    alt="Album Artwork" style="height: 200px; width: 200px">
    <p><strong>Track: </strong>{{current_playing['item']['name']}}</p>
    <p><strong>Artists: </strong>
        {% for artist in current_playing['item']['artists'] %}
            {% if loop.first %}
                {{ artist['name'] }}
            {% else %}
                , {{ artist['name'] }}
            {% endif %}
        {% endfor %}
    </p>
</body>
</html>