<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Raging_Azian's Playlists</title>
</head>

<body>
    {% include 'nav.html' %}
    <h1>Raging_Azian's Spotify Playlists</h1>
    <div class="playlist-section">
        {% if playlists and playlists['items'] %}
        <ol>
            {% for playlist in playlists['items'] %}
            {% if playlist['owner']['id'] == current_user['id'] and playlist['public']%}
            <li class="playlist-item">
                <div class="playlist-container">
                    <img src="{{ playlist['images'][0]['url'] }}" alt="Playlist cover" class="playlist-img">
                    <div class="playlist-details">
                        <h2>{{ playlist['name'] }}</h2>
                        <p><strong>Owner:</strong> {{ playlist['owner']['display_name'] }}</p>
                        <p><strong>Tracks:</strong> {{ playlist['tracks']['total'] }}</p>
                        <a href="{{ playlist['external_urls']['spotify'] }}" target="_blank">View on Spotify</a>
                    </div>
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ol>
        {% else %}
        <p>No playlists found.</p>
        {% endif %}
    </div>
</body>

</html>